html, body, .container-fluid {
  background-color: #012A36;
}


.text-input {
  font-size: 16px;
  background-color: #80ced7;
}

.text-output {
  color: #FFFFFF;
  font-size: 20px;
  letter-spacing: 2px;
  white-space: pre-wrap;
}

.card-rows {
		bottom-margin: 10px;
}

.card-text { 
		text-align: left;
		white-space:pre;
}

.history {
		padding: 10px;
}

.page-title {
  color: #FFFFFF;
  font-weight: normal;
	text-align: center;
	padding: 30px;
}

.result-header {
		padding: 15px;
		color: #FFFFFF;
}

.form-control {
		padding: 10px;
    background-color: #63c7b2;
}

.form-control:focus {
    background-color: #63c7b2;
}

.row {
		padding: 10px;
}
